/* CSS */
.image-container {
    position: relative;
    display: inline-block;
}

.hover-zoom {
    transition: transform 0.5s ease;
}

.image-container:hover .hover-zoom {
    transform: scale(1.2);
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -10%);
    max-width: 20vw;
    max-height: 20vh;
}

.modal-content {
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
}
